### Python ###
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Data and Volumes
volumes/postgres/*
volumes/redis/*
volumes/pgadmin/*
!volumes/postgres/.gitkeep
!volumes/redis/.gitkeep
!volumes/pgadmin/.gitkeep

# Logs
*.log
logs/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Celery
celerybeat-schedule
celerybeat.pid
/examples

# Scripts
scripts/

# Private keys and certificates
*.pem
